body {
  padding: 50px 0;
}

li {
  list-style-type: none;
}

img{
  max-width: 100%;
}

.header {
  padding: 40px 15px;
  text-align: center;
}

.leader{
  padding: 20px;
}

.david-cameron .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.ed-miliband .panel-heading{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.nick-clegg .panel-heading{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.nigel-farage .panel-heading{
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
